* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
.header {
  text-align: center;
  color: chocolate;
  margin: 2rem 0;
  text-transform: uppercase;
  font-size: 38px;
}
.pizza {
  margin: 2rem 4rem;
  border: 1px solid chocolate;
  padding: 1rem;
  border-radius: 12px;
}
.pizza_menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.menu_header {
  text-align: center;
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: overline;
}
.menu_text {
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  padding: 2rem;
}
.footer {
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.error-msg {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 900;
  font-size: 24px;
  color: chocolate;
  margin: 2rem 0;
}
.btn {
  background: rgb(218, 154, 109);
  margin: 2rem 0;
  font-size: 18px;
  font-weight: 700;
  padding: 0.2rem 1rem;
  border: none;
  outline: none;
  border-radius: 6px;
  transition: 0.6s ease;
}
.btn:hover {
  background: chocolate;
}
 .sold-out {
  color: rgb(197, 192, 192);
  border: 1px solid rgb(197, 192, 192);
}
.sold-out img {
  filter: grayscale(1000%);
}
